#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: pink;
  min-height: 100%;
  min-width: 100%;
  color: white;
  
}
html,body{
  margin:0;
  padding:0;
  overflow:hidden;
}

.background{
  height: 90vh;
  width: 100vw;
  background-image: url("./assets/pixel.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hampters{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 40px;
}

.hampters img{
  width: 300px;
  border-radius: 12px;
}


.hamBut {
  width: 300px;
  height: 300px;
  cursor: pointer;
  justify-content: space-between;
  transition: transform 0.2s;
  background: transparent;
  border: none;
  padding: 0;
}

.hamBut img {
  display: block;
  width: 100%; 
  object-fit: cover;
  height: 100%;
}

.hamBut:hover {
  transform: scale(1.1);
}